<div class="container mt-4">
  <div class="row">
    <div class="col-lg-3">
      <h4>Reactive Form</h4>
      <app-reactive-form></app-reactive-form>
    </div>
    <div class="col-lg-3">
      <h4>Reactive dynamic Form</h4>
      <app-dynamicform class="mx-4"></app-dynamicform>
    </div>
    <div class="col-lg-3">
      <h4>Reactive Subgroup Form</h4>
      <app-subgroup class="mx-4"></app-subgroup>
    </div>
    <div class="col-lg-3">
      <h4>Template Driven</h4>
      <app-templatedriven class="mx-4"></app-templatedriven>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->